{% extends 'base.html' %}

{% block content %}
<h1>Editar Usuario</h1>
<form method="POST" action="{% url 'editar_usuario' usuario.id %}" id="editarForm">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ usuario.nombre }}" required>
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="correo" name="correo" value="{{ usuario.correo_electronico }}"
            required>
    </div>
    <div class="mb-3">
        <label for="tipo_usuario" class="form-label">Tipo de Usuario</label>
        <select class="form-control" id="tipo_usuario" name="tipo_usuario" required>
            <option value="cliente" {% if usuario.tipo_usuario=='cliente' %}selected{% endif %}>Cliente</option>
            <option value="administrador" {% if usuario.tipo_usuario=='administrador' %}selected{% endif %}>
                Administrador</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
</form>
{% endblock %}

<script>
    $(document).ready(function () {
        $("#editarForm").validate({
            rules: {
                nombre: {
                    required: true
                },
                correo: {
                    required: true,
                    email: true
                },
                tipo_usuario: {
                    required: true
                }
            },
            messages: {
                nombre: "Por favor ingrese el nombre",
                correo: {
                    required: "Por favor ingrese el correo",
                    email: "Por favor ingrese un correo válido"
                },
                tipo_usuario: "Por favor seleccione el tipo de usuario"
            }
        });
    });
</script>